button{
  margin: 14px 0 14px 0;
  padding: 6px 12px;
  border-radius: 5px;
}
button:disabled{
  color: white;
  background-color: #c7c9d2;
}
.button-line-white {
  color: white;
  background: none;
}

.button-line-white:hover {
  background: #4f5670;
}

.button-line-white:active {
  background: #535970;
  color: white;
}

.button-blue {
  display: flex;
  align-items: center;
  background-color: #6697E6;
  color: white;
}

.button-blue:hover {
  background-color: #77a1e5;
}

.button-blue:active {
  color: white;
  background: #85a9e3;
}


.button-line-blue {
  margin: auto;
  color: var(--blue);
  background: none;
  border: 1px #6697E6 solid;
}

.button-line-blue:hover {
  color: white;
  background: #6697E6;
}

.button-line-blue:active {
  color: white;
  background: #739fe5;
}

.button-search {
  margin: auto;
  color: white;
  background-color: #6697E6;
  border-radius: 0 5px 5px 0;
}

.button-big{
  display: flex;
  justify-content: center;
  width: 186px;
  height: 35px;
}
