<form class="form-authorization">
  <div class="form-header">
    <h3>Авторизация</h3>
    <mat-icon>close</mat-icon>
  </div>
  <div class="form-control">
    <label for="phone"></label>
    <input id="phone" type="phone" placeholder="Введите телефон">
    <div class="validation">
      <small>Пожалуйста введите телефон</small>
    </div>
  </div>
  <div class="form-control">
    <label for="password"></label>
    <input id="password" type="password" placeholder="Введите пароль">
    <div class="validation">
      <small>Пожалуйста введите пароль</small>
    </div>
  </div>

</form>
