<form class="form-size" [formGroup]="authorizationForm">
  <div class="form-header">
    <h3>Авторизация</h3>
     <mat-icon mat-dialog-close="">close</mat-icon>
  </div>
  <div class="form-control">
    <label for="phone"></label>
    <input id="phone" type="phone" formControlName="phone" placeholder="Номер телефона">
    <div class="validation warning">
      <div *ngIf="authorizationForm.controls['phone'].invalid && (authorizationForm.controls['phone'].touched || authorizationForm.controls['phone'].dirty)">
        <span *ngIf="authorizationForm.controls['phone'].errors?.['required']">Пожалуйста введите номер телефона</span>
      </div>
      <div *ngIf="authorizationForm.controls['phone'].errors?.['pattern']">
        <span>Некорректный формат телефона</span>
      </div>
    </div>
  </div>
  <div class="form-control">
    <label for="password"></label>
    <input id="password" type="password" formControlName="password" placeholder="Пароль">
    <div class="validation warning">
      <div *ngIf="authorizationForm.controls['password'].invalid && (authorizationForm.controls['password'].touched || authorizationForm.controls['password'].dirty)">
        <small *ngIf="authorizationForm.controls['password'].errors?.['required']">Пожалуйста введите пароль</small>
      </div>
      <div *ngIf="authorizationForm.controls['password'].errors?.['minlength']">
        <small>Пароль должен содержать не меннее 8 символов</small>
      </div>
    </div>
  </div>

  <div class="other-info">
    <div class="check-remember">
      <input type="checkbox" formControlName="rememberMe" name="rememberMe" id="rememberMe" class="checkbox" (click)="remember()"/>
      <label for="rememberMe">Запомнить меня</label>
    </div>
    <a href="#">Забыли пароль?</a>
  </div>

  <div class="button-login">
    <button type="submit" [disabled]="authorizationForm.invalid" (click)="submit()" class="button-blue button-big">Войти</button>
  </div>
  <div class="registration-link">
    <span>Нет учетной записи?</span>
    <a (click)="openDialog()" mat-dialog-close="">Зарегистрироваться</a>
  </div>

</form>


