@import "assets/scss/angular-material";
@import "assets/scss/reset-styles";
@import "assets/scss/button-styles";

:root {
  --blue: #6697E6;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
h1,h2,h3,h4{
  color: #1E293B;
}

h1 {
  margin: 0;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

h2 {

  margin: 32px 0 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px
}

h3 {
  margin: 8px 0 16px;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h4{
  margin: 40px 0 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

a {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  gap: 8px;
}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
label {
  width: 100%;
}

input {
  width: 100%;
  height: 32px;
  padding: 4px 10px;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 5px 0 0 5px;
}


.container {
  margin: auto;
  max-width: 1400px;
}



.main-content__ad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrap{
  width: 1400px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "assets/scss/adaptive-styles";
