.ad-view{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
}
mat-progress-spinner{
  width: 60px !important;
  height: 60px !important;
  margin: 0 auto;
}
img{
  max-height: 450px;
  object-fit: cover;
  border: #ccd0d3 1px solid;
}

.small-img{
  display: inline-block;
  flex-wrap: wrap;

  img{
    //width: 20%;
    //height: 15%;
    //width: 90%;
    //height: 80%;
    width: 220px;
    height: 164px;

    object-fit: cover;
    border: #ccd0d3 1px solid;
    transition: transform 0.2s ease;
  }
  img:hover{
    transform-origin: center;
    transform: scale(1.02);
  }
}
.small-img:last-child {
  margin-right: 0;
}

p{
  color: #64748B;
}
a{
  height: 40px;
  padding: 12px;
  justify-content: center;
}
svg{
  width: 28px;
  height: 28px;
}
a .button-blue{
  gap: 12px;
  flex-shrink: 0;
}

.display-row{
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
  //align-items: center;

}
.buttons-user-edit{
  display: flex;
  gap: 8px;
  //margin: 8px 0 16px;
  //svg{
  //  height: 36px;
  //}
  button{
    margin: 8px 0 16px;
  }
  .edit-button{
    color: #FCBA04;
    border: 1px #FCBA04 solid;
    background-color: white;
    fill: #FCBA04;
  }

  .edit-button:hover{
    color: white;
    background-color: #FCBA04;
    fill: white;
  }

  .edit-button:active{
    color: white;
    background-color: #efac08;
    fill: white;
  }
}

.user-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--dark-blue);
  svg{
    margin: 0 auto;
    fill: white;
  }
}

